<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My App</title>
</head>
<body>
<h1>Welcome!</h1>
<p>This is the homepage rendered by Thymeleaf.</p>
<ul id="authors-list">List of authors</ul>
<script>
    fetch('http://localhost:8081/api/authors/')
      .then(res => res.json())
      .then(authors => {
          const ul = document.getElementById('authors-list');
          authors.forEach(author => {
              const li = document.createElement('li');
              li.textContent = `${author.name} (${author.yearOfBirth}) - ${author.countryOfBirth}`;
              ul.appendChild(li);
          });
      });
</script>
</body>
</html>
